<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"  style="padding-left: 20px;">HashedIn By Deloitte</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto" >
            <li class="nav-item" style="padding-left: 10;">
                <a class="nav-link" aria-current="page" href="/">COURSES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">MY WISHLIST</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CART</a>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="/contact">PROFILE</a>
            </li>
        </ul>
    </div>
  </nav>
  <div class="row" style="padding: 40px;">
    <div class="jumbotron jumbotron-fluid" style="background-color: hsl(0, 0%, 94%);">
        <div class="container">
          <h1 class="display-4">Discover Latest Courses</h1>
          <p class="lead">React | Angular | AI | ML</p>
        </div>
      </div>
</div>    